#dnsimple-support {
  .articles {
    margin-top: calc(var(--dnsimple-support-widget-padding) * -1);

    h3 {
      color: var(--dnsimple-support-widget-blue);
      font-weight: bold;
    }

    h4 {
      background: var(--dnsimple-support-widget-light-gray);
      color: var(--dnsimple-support-widget-dark-gray);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: calc(var(--dnsimple-support-widget-padding) / 2) var(--dnsimple-support-widget-padding);
      margin-left: calc(var(--dnsimple-support-widget-padding) * -1);
      margin-right: calc(var(--dnsimple-support-widget-padding) * -1);

      .external-link {
        float: right;
        width: 1.1rem;
        height: 1.1rem;
      }
    }

    mark {
      background: #fff3b6;
      padding: 2px 0;
    }

    li {
      padding: var(--dnsimple-support-widget-padding) 0;
      border-bottom: 1px solid var(--dnsimple-support-widget-line-color);

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      .selected-article {
        background-color: var(--dnsimple-support-widget-light-gray);
        outline: 10px solid var(--dnsimple-support-widget-light-gray);
      }
    }
  }

  .loading {
    text-align: center;
    padding: 25vh 0;

    img {
      width: 8vh;
    }
  }
}
