#dnsimple-support {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 480px;
  font-size: var(--dnsimple-support-widget-rem);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  color: #222;
  z-index: 999;

  @media (var(--dnsimple-support-widget-desktop-only)) {
    display: none;
  }
}

#dnsimple-support {
    .relative {
      position: relative;
      box-shadow: var(--dnsimple-support-widget-box-shadow);
    }

    .route {
      height: 475px;
      border-left: 1px solid var(--dnsimple-support-widget-line-color);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: var(--dnsimple-support-widget-padding);
      background: var(--dnsimple-support-widget-white);
    }
}
