#dnsimple-support-widget {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 480px;
  font-size: var(--dnsimple-support-widget-rem);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  color: var(--element2);
}

#dnsimple-support {
    z-index: 999;

    .dnsimple-modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 5vh;
        z-index: 999;
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: calc(var(--dnsimple-support-widget-padding) / 1.5);
    }

    .overlay {
        position: fixed;
        z-index: 998;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--overlay);
    }

    .relative {
      position: relative;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .route {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: var(--dnsimple-support-widget-padding);
      background: var(--background);
      border-bottom-left-radius: calc(var(--dnsimple-support-widget-padding) / 1.5);
      border-bottom-right-radius: calc(var(--dnsimple-support-widget-padding) / 1.5);
      height: 75vh;
    }
}
