$blue: #1A5EC6;
$dark-gray: #333;
$medium-gray: #7e7e7e;
$light-gray: #eaeaea;
$yellow: #f8c939;
$orange: #ff7f2a;
$green: #43a047;
$white: #fff;
$rem: 16px;
$padding: 15px;
$line-color: #ddd;
$desktop-only: "max-width: 640px";
$font-monospace: Menlo,Monaco,Consolas,"Courier New",monospace;
$font-size-monospace: 13px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
