[build]
  publish = "output"
  command = "rake publish"

[build.environment]
  NANOC_ENV = "production"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

[[headers]]
  for = "/search.json"
  [headers.values]
    Access-Control-Allow-Origin = "*"

[[redirects]]
  from = "/search"
  to = "/"
  status = 301

[[redirects]]
  from = "/*"
  to = "/404"
  status = 404
