[build]
  publish = "output"
  command = "rake publish"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

[[headers]]
  for = "/search.js"
  [headers.values]
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/search.json"
  [headers.values]
    Access-Control-Allow-Origin = "*"
