#dnsimple-support {
  .footer {
    margin-top: var(--dnsimple-support-widget-padding);
    padding: calc(var(--dnsimple-support-widget-padding) * 2) var(--dnsimple-support-widget-padding);
    border: 1px solid var(--dnsimple-support-widget-line-color);
    border-radius: 4px;

    .button {
      float: right;
      color: #333;
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      padding: 5px 10px;
      margin-top: -6px;
      margin-bottom: -10px;
      border: 1px solid var(--dnsimple-support-widget-line-color);
    }
  }
}
