#dnsimple-support {
  .header {
    background: var(--surface1);
    text-align: center;
    padding: calc(var(--dnsimple-support-widget-padding) * 1.5);
    border-top-left-radius: calc(var(--dnsimple-support-widget-padding) / 1.5);
    border-top-right-radius: calc(var(--dnsimple-support-widget-padding) / 1.5);

    .minimize {
      color: var(--element3);
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1;
      padding: calc(var(--dnsimple-support-widget-padding) * 2) calc(var(--dnsimple-support-widget-padding) * 1.2);

      svg {
        width: calc(var(--dnsimple-support-widget-rem) * 1.5);
        height: calc(var(--dnsimple-support-widget-rem) * 1.5);
        color: var(--element3);
        opacity: 0.5;
      }

      &:hover {
        img {
          opacity: 1.0;
        }
      }
    }

    input {
        outline: none;
        padding: calc(var(--dnsimple-support-widget-padding) / 2) var(--dnsimple-support-widget-padding);
        width: calc(100% - var(--dnsimple-support-widget-padding) * 6);
        border: 0;
        background: var(--background);
        color: var(--element1);
        border-radius: 4px;

        &::placeholder {
          color: var(--element2);
        }

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' class='size-6'><path fill-rule='evenodd' d='M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z' clip-rule='evenodd' /></svg>");
          background-color: var(--element2);
          background-size: calc(var(--dnsimple-support-widget-padding) * 1.5) calc(var(--dnsimple-support-widget-padding) * 1.5);
          height: calc(var(--dnsimple-support-widget-padding) * 1.5);
          width: calc(var(--dnsimple-support-widget-padding) * 1.5);
          cursor: pointer;
        }
    }
  }

  .route {
    & > .external-link {
      color: var(--element2);
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      position: absolute;
      right: var(--dnsimple-support-widget-padding);
      z-index: 999;
    }

    & > .back {
      position: absolute;
      top: 0;
      left: 0;
      padding: calc(var(--dnsimple-support-widget-padding) * 1.75) calc(var(--dnsimple-support-widget-padding));
      line-height: 1;

      svg {
        width: calc(var(--dnsimple-support-widget-rem) * 2);
        height: calc(var(--dnsimple-support-widget-rem) * 2);
        color: var(--element3);
      }

      &:hover {
        img {
          opacity: 1.0;
        }
      }
    }
  }
}
