//
// Application Template
// --------------------------------------------------

// Increase top/bottom padding.
.site-head {
  padding: 15px 0;
}

.container {
  max-width: 970px !important;
}

// Reset Bootstrap style on <code> inside table.
.table td code {
  padding: 0;
  color: #333333;
  background-color: transparent;
  border: none;
}

// Increase bottom margin. It looks better.
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}


// Markers
// ---------------

.marker {
  margin: 20px 0;
  padding: 15px;
  border-left: 3px solid #eee;
}

.marker :first-child {
  margin-top: 0;
}

.marker p:last-child {
  margin-bottom: 0;
}

.marker-callout {
  $color: #dddddd;
  border-color: $color;
  background-color: #fdf7f7;
  color: darken($color, 15%);

  a {
    text-decoration: underline;
    color: darken($color, 15%);
  }
}

.marker-note {
  $color: #5bc0de;
  border-color: $color;
  background-color: #f4f8fa;
  color: darken($color, 15%);

  a {
    text-decoration: underline;
    color: darken($color, 15%);
  }
}

.marker-warning {
  $color: #f0ad4e;
  border-color: $color;
  background-color: #fcf8f2;
  color: darken($color, 15%);

  a {
    text-decoration: underline;
    color: darken($color, 15%);
  }
}


// Article
// -------------------------
// Styles for a single article entry.

// .article img {
#main img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}


// Sections
// -------------------------
// Sections are special part of the article with special formatting.
// Sections don't apply to the entire page, they are just part of the article.

#main .section-steps {
  font-size: 90%;
  margin-top: 30px;
  margin-bottom: 30px;

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  label {
    font-weight: bold;
    // reset margins
    margin: 0;
  }

  h5:before {
    font-family: FontAwesome;
    content: "\f0a4";
    margin-right: 5px;
  }
}

#main .section-faq {
  ol {
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 20px;
  }

  h4:before {
    font-family: FontAwesome;
    content: "\f059";
    margin-right: 5px;
  }
}

// Header
// -------------------------

.header-search .search-query {
  display: inline-block;
  width: auto;
}

// Sidebar
// -------------------------

#sidebar {
  margin-top: 20px;
}

#sidebar .sidebar-title {
  margin-top: 25px;
  margin-bottom: 15px;
}


// Sidebar Navigation
// -------------------------

// Restore custom sidebar navigation style
.nav-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.nav-list li a {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 5px solid #eeeeee;
  color: #333;
}
.nav-list ul li a {
  padding-left: 30px;
}
.nav-list li {
  padding: 0;
  margin-right: 0;
  margin-left: 0
}
.nav-list li a:hover,
.nav-list li.active a {
  color: #cc8b00;
  border-left: 5px solid #cc8b00;
}


.articles-list {
  list-style-type: none;
  padding: 0;
}

.articles-list-item {
  padding: 5px 0;

  &:before {
    margin-right: 10px;
    color: #dddddd;
    content: "\f054";
    font-family: FontAwesome;
  }
}
