//
// Application Template
// --------------------------------------------------

@use "mixins" as *;
@use "variables" as *;

// Reset Bootstrap style on <code> inside table.
.table td code {
  padding: 0;
  background-color: transparent;
  border: none;
}

// Article
// -------------------------
// Styles for a single article entry.

// .article img {
#main img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#toc {
  &:before {
    margin-right: 10px;
    @include font-awesome("\f02e");
  }
}

// Sections
// -------------------------
// Sections are special part of the article with special formatting.
// Sections don't apply to the entire page, they are just part of the article.

.section-steps {
  margin: $base-unit 0;
  padding: $base-unit / 2;
  border-left: 5px solid var(--surface2);

  a {
    text-decoration: underline;
  }

  > p {
    &:first-child {
      &:before {
        margin-right: 10px;
        @include font-awesome("\f085");
      }
    }
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  label {
    font-weight: bold;
    // reset margins
    margin: 0;
  }

  h4:before,
  h5:before {
    @include font-awesome("\f0a4");
    margin-right: 5px;
  }
}

#main .section-faq {
  ol {
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 15px;
  }

  h4 {
    margin-bottom: 20px;
  }

  h4:before {
    @include font-awesome("\f059");
    margin-right: 5px;
  }
}

// Sidebar
// -------------------------
#sidebar {
  margin-top: 20px;
}

#sidebar .sidebar-title {
  margin-top: 25px;
  margin-bottom: 15px;
}

// Sidebar Navigation
// -------------------------

// Restore custom sidebar navigation style
.nav-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.nav-list li a {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-decoration: none;
}
.nav-list ul li a {
  padding-left: 30px;
}
.nav-list li {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.articles-list {
  list-style-type: none;
  padding: 0;
}

.articles-list-item {
  padding: 5px 0;

  &:before {
    margin-right: 10px;
    @include font-awesome("\f054");
  }
}

.global-header {
  position: sticky;
  top: 0;
  z-index: 2;
}
