main table {
    border-radius: 3px;
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 0.6rem 1.2rem;
    }

    th {
        border-bottom: 2px solid $yellow;
        font-weight: bold;
        background: $white;
    }

    tr:nth-child(2n + 1) {
        background-color: #f1f1f1;
    }
}
