//
// Base Template
// --------------------------------------------------
* { box-sizing: border-box; }

html {
  background-color: #f2f2f2; // same as footer
}

body {
  background-color: #fefefe; // site is using #fafafa
}

a {
  transition: all 0.2s ease;
}

// Reset Bootstrap rounded corners on <pre>.
pre {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

// h5 is often used as an alternative for a **small title**
h5 {
  font-weight: bold;
  font-size: 15px;
}


// Header
// -------------------------
.btn-input-search {
  position: absolute;
  right: 10px;
  padding: 4px;
  margin-top: 4px;
  border: none;
  background: transparent;
}

.bg-pipes {
  background-image: url(/assets/images/border.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 900px 10px;
}
