* { box-sizing: border-box; }

body {
  background: #fefefe;
}

.input-search {
  &::-ms-clear {  display: none; width : 0; height: 0; }
  &::-ms-reveal {  display: none; width : 0; height: 0; }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration { display: none; }
}

.btn-input-search {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  background: transparent;
}

.bg-pipes {
  background-image: url(/assets/images/border.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 900px 10px;
}
