* { box-sizing: border-box; }

body {
  background: #fefefe;
}

.btn-input-search {
  position: absolute;
  right: 10px;
  padding: 4px;
  margin-top: 4px;
  border: none;
  background: transparent;
}

.bg-pipes {
  background-image: url(/assets/images/border.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 900px 10px;
}
