$base-unit: 1.5em;
$font-family: "Helvetica Neue", Arial, sans-serif;

body {
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3 {
  color: #000;
  font-weight: normal;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h1 {
  color: #cc8b00;
  font-size: 2em;
  padding-top: $base-unit;
  padding-bottom: $base-unit / 2;
}

h2 {
  font-size: 1.4em;
  padding: $base-unit / 2 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: $base-unit / 2;
}

p {
  margin: 0;
  padding-bottom: $base-unit;
}

.marker {
  p {
    padding-bottom: 0;
  }
}
