name: Links

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-links:
    name: Check Links
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 3
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: yarn

      - name: Install JS Deps
        run: yarn install --frozen-lockfile

      - name: Compile site
        run: bundle exec rake compile

      - name: Check links
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2
        with:
          args: '--root-dir ${{ github.workspace }}/output output/**/*.html'
          fail: true
